services:
  autocatalogdb:
    container_name: autocatalogdb
    environment:
      - POSTGRES_USER=${AUTOCATALOG_POSTGRES_USER}
      - POSTGRES_PASSWORD=${AUTOCATALOG_POSTGRES_PASSWORD}
      - POSTGRES_DB=${AUTOCATALOG_POSTGRES_DB}
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - "auto-catalog-postgres:/var/lib/postgresql"
  
  adservicedb:
    container_name: adservicedb
    environment:
      - POSTGRES_USER=${ADSERVICE_POSTGRES_USER}
      - POSTGRES_PASSWORD=${ADSERVICE_POSTGRES_PASSWORD}
      - POSTGRES_DB=${ADSERVICE_POSTGRES_DB}
    restart: always
    ports:
      - "5434:5432"
    volumes:
      - "ad-service-postgres:/var/lib/postgresql"


  profileservicedb:
    container_name: profileservicedb
    restart: always
    environment:
      - POSTGRES_USER=${PROFILE_POSTGRES_USER}
      - POSTGRES_PASSWORD=${PROFILE_POSTGRES_PASSWORD}
      - POSTGRES_DB=${PROFILE_POSTGRES_DB}
    ports:
      - "5435:5432"
    volumes:
      - profile-service-postgres-data:/var/lib/postgresql
  
  redis:
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    restart: always
    volumes:
      - "redis-data:/data"
  
  
  autocatalog.web:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__AppDbContext=Server=autocatalogdb;Port=5432;Database=${AUTOCATALOG_POSTGRES_DB};Username=${AUTOCATALOG_POSTGRES_USER};Password=${AUTOCATALOG_POSTGRES_PASSWORD}
      - FileStorage__Endpoint=https://filemanagement.grpc:8081
    depends_on:
      - autocatalogdb
    ports:
      - "6000:8080"
      - "6060:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets/:/home/app/.microsoft/usersecrets
      - ${USERPROFILE}/.aspnet/https/:/https/
  
  keycloakdb:
    image: postgres
    container_name: keycloakdb
    environment:
      POSTGRES_DB: KeycloakDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1111
    ports:
      - "5433:5432"
    volumes:
      - "keycloak-data:/var/lib/postgresql"

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloakdb:5432/KeycloakDb
      KC_DB_USERNAME: ${KEYCLOAK_DB_USERNAME}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      - keycloakdb
  
  minio:
    container_name: minio
    restart: always
    ports:
      - "9000:9000"   # API (HTTP)
      - "9001:9001"   # Console (HTTP)
    environment:
      MINIO_ROOT_USER: admin       # >= 3 chars
      MINIO_ROOT_PASSWORD: password  # >= 8 chars
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/ready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  
  
  filemanagement.grpc:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__FileManagementDbContext=Data Source=/app/filedb
      - Minio__Endpoint=minio:9000
    ports:
      - "6001:8080"
      - "6061:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets/:/home/app/.microsoft/usersecrets
      - ${USERPROFILE}/.aspnet/https/:/https/

