services:
  autocatalogdb:
    container_name: autocatalogdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1111
      - POSTGRES_DB=AutoCatalogDb
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - "auto-catalog-postgres:/var/lib/postgresql"
        
  adservicedb:
    container_name: adservicedb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1111
      - POSTGRES_DB=AdServiceDb
    restart: always
    ports:
      - "5434:5432"
    volumes:
      - "ad-service-postgres:/var/lib/postgresql"
    
  
  autocatalog.web:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=6000
      - ASPNETCORE_HTTPS_PORTS=6060
      - ASPNETCORE_URLS=http://0.0.0.0:8080;https://0.0.0.0:8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=1111
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/certs/aspnetapp.pfx
      - ConnectionStrings__AppDbContext=Server=autocatalogdb;Port=5432;Database=AutoCatalogDb;Username=postgres;Password=1111
    depends_on:
      - autocatalogdb
    ports:
      - "6000:8080"
      - "6060:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ./certs:/certs:ro
    
  keycloakdb:
    image: postgres
    container_name: keycloakdb
    environment:
      POSTGRES_DB: KeycloakDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1111
    ports:
      - "5433:5432"
    volumes:
      - "keycloak-data:/var/lib/postgresql"

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloakdb:5432/KeycloakDb
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: 1111
    ports:
      - "8080:8080"
    depends_on:
      - keycloakdb
     
  minio:
    container_name: minio
    restart: always
    ports:
      - "9000:9000"   # API (HTTP)
      - "9001:9001"   # Console (HTTP)
    environment:
      MINIO_ROOT_USER: admin       # >= 3 chars
      MINIO_ROOT_PASSWORD: password  # >= 8 chars
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/ready" ]
      interval: 10s
      timeout: 5s
      retries: 5
      
      
  filemanagement.grpc:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__FileManagementDbContext=Data Source=filedb
    ports:
      - "6001:8080"
      - "6061:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
