# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore AutoCatalog
      run: dotnet restore ./src/Services/AutoCatalog/AutoCatalog.Web/AutoCatalog.Web.csproj
    - name: Build AutoCatalog
      run: dotnet build ./src/Services/AutoCatalog/AutoCatalog.Web/AutoCatalog.Web.csproj --no-restore
    # - name: Test AutoCatalog
    #   run: dotnet test ./src/Services/AutoCatalog/AutoCatalog.Web/AutoCatalog.Web.csproj --no-build --verbosity normal

    - name: Restore AdService
      run: dotnet restore ./src/Services/AdService/AdService.Web/AdService.Web.csproj
    - name: Build AdService
      run: dotnet build ./src/Services/AdService/AdService.Web/AdService.Web.csproj --no-restore
    # - name: Test AdService
      #   run: dotnet test ./src/Services/AdService/AdService.Web/AdService.Web.csproj --no-build --verbosity normal
